<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a th:href="@{/add}">Добавить клиента</a>
</div>

<div th:if="${!clients.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.name}"></td>
            <td th:text="${client.address?.street}"></td>
            <td>
                <ul>
                    <li th:each="phone : ${client.phones}" th:text="${phone.number}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{'/edit/' + ${client.id}}">
                    <button type="button">Редактировать</button>
                </a>
                <a th:href="@{'/delete/' + ${client.id}}">
                    <button type="button">Удалить</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${clients.isEmpty()}">
    <p>Клиенты отсутствуют</p>
</div>

</body>
</html>
