<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Создать клиента</title>
  <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<main>
  <h1>Создание клиента</h1>
  <form action="/create-client" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" class="field-long" required>

    <label for="address">Адрес:</label>
    <input type="text" id="address" name="address" class="field-long">

    <label for="phones">Телефон:</label>
    <input type="text" id="phones" name="phones" class="field-long" placeholder="81112223344,82223334455">
    <small>Если телефонов несколько, перечислите их через запятую.</small>

    <button type="submit">Создать</button>
  </form>

  <a href="/clients" class="button">Вернуться к списку клиентов</a>
</main>
</body>
</html>
